{% extends 'base.html.twig' %}

{% block title %}Hello AppBoutiqueIndexController!{% endblock %}

{% block body %}
<style>
    .boutique {
        margin: 1em auto;
        width: 95%;
        font: 18px/1.5 sans-serif;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .boutique .card {
        width: 30%;
        min-width: 220px;
    }

</style>

<div class="boutique">
    {% for cat in categories %}
        <div class="card clickable" onclick="location = '{{ path('app_boutique_rayon', {'idCategorie': cat.id}) }}'">
            <img src="{{ asset(cat.visuel) }}" class="card-img-top" alt="{{ cat.libelle }}">

            <div class="card-body">
                <h4 class="card-title">{{ cat.libelle }}</h4>
                <p class="card-text">
                    <i>{{ cat.texte }}</i>
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
